@font-face {
    font-family: abel;
    src: url("./Abel-Regular.ttf")
}

body {
    font-family: abel;
}

main{
    overflow-x: hidden;
}

.bg-space {
    background-image: url("./img/starscape2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--title {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.header--subtitle {
    color: rgb(209, 208, 208);
    filter: drop-shadow(3px 3px 3px black);
}

.down-arrow {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    width: 8rem;
}
    .down-arrow:hover{
        color: inherit;
        transform: translateY(10px);
    }

#rover-select{
    min-height: 100%;
}

.rover-select--header{
    font-size: 4rem;
}

.rover{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255, 0);
    transition: border 0.5s;
}
    .rover:hover{
        border: 3px solid white;
        color: white
    }

    .rover img{
    width: 15rem;
}

.rover--header{
    text-transform: uppercase;
}

.text-success-bright{
    color: rgb(34, 191, 118)
}