@font-face {
    font-family: abel;
    src: url("./Abel-Regular.ttf")
}

body {
    font-family: abel;
}

.bg-space {
    background-image: url("./img/starscape2.jpg");
    /* height: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--title {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 900;
}

.header--subtitle {
    color: rgb(209, 208, 208);
    filter: drop-shadow(3px 3px 3px black);
}

.down-arrow {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    width: 8rem;
}
    .down-arrow:hover{
        color: inherit;
        transform: translateY(10px);
    }